<div class="jumbotron">
  <h1>Let us hear what you are thinking :)</h1>
  <p>and don't you think you want to do so to your friends?</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">新規登録</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">ログイン</a>
</div>
