<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="utf-8">
      <title><%= @title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="/css/styles.css">
  </head>

  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/comments">Hiroshitter</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/comments/new_post">新規投稿</a></li>
        <li><a href="/home">ログアウト</a></li>
      </ul>
    </nav>
  </header>

  <body>
      <div class="container" style="padding:50px 0px 20px 0px">
        <%= yield %>
      </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
